.header
    margin-block: 34px 48px

.nav
    &__list
        @include flex(space-between, center)
    &__link
        transition: opacity 0.3s
        @include hover
            opacity: 0.7

.billboard
    min-height: 640px
    margin-bottom: 64px
    display: flex
    background: linear-gradient(0.00deg, rgb(235, 243, 251) 8.836%,rgba(152, 195, 232, 0) 31.12%)
    &__inner
        flex-grow: 1
        padding-top: 107px
        @include flex
        background: url(../img/bg-banner.svg) 95% 60%/45% no-repeat
    &__body
        width: 506px
        @include flex(center)
        flex-direction: column
    &__title
        margin-bottom: 32px
    &__text
        margin-bottom: 72px

.help-client
    margin-bottom: 64px
    &__subtitle
        margin-bottom: 64px
    &__inner
        display: grid
        grid-template-columns: repeat(3, minmax(300px, 360px))
        justify-content: space-between
        column-gap: 18px

.card
    @include flex(space-between, center)
    flex-direction: column
    padding: 44px 32px
    border-radius: $border-radius
    box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2)
    background-color: $color-lite
    min-height: 480px
    &__heading
        margin-bottom: 15px
    &__text
        margin-bottom: 24px
    &__button
        font-size: 14px
        font-weight: 400
        letter-spacing: 0.05em
        color: $color-medium
        @include flex(flex-start, center)
        column-gap: 24px
        @include hover
            color: $color-dark

.our-project
    margin-bottom: 112px
    &__subtitle
        margin-bottom: 32px
    &__text
        max-width: 750px
        margin-bottom: 64px
        margin-inline: auto
    &__inner
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 32px
    &__wrapper
        position: relative
        &_big
            grid-column: 1 / -1
    &__img
        height: auto
    &__caption
        position: absolute
        top: 32px
        left: 32px
        color: $color-lite
        font-size: 28px
        letter-spacing: 0.05em
        &_big
            top: 64px
            left: auto
            right: 64px
            font-size: 32px

.footer
    background-color: $color-dark
    color: $color-lite
    &__info
        padding-block: 91px 96px
        @include flex(space-between, center)
        column-gap: 52px
    &__body
        max-width: 495px
        @include flex-column(32px)
    &__contacts
        padding-bottom: 64px
        &::before
            content: ''
            display: block
            width: 100%
            height: 1px
            background-color: $color-lite
            margin-bottom: 64px

.address
    &__list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        column-gap: 32px
        list-style-type: none
        counter-reset: li-count
        margin-bottom: 64px
    &__list-item
        counter-increment: li-count
        display: flex
        column-gap: 20px
    &__list-item::before
        content: counter(li-count)'.'
    &__link
        text-decoration: underline
        @include hover
            opacity: 0.7

.contact-us
    margin-bottom: 112px
    &__header
        padding-block: 50px
        margin-bottom: 58px
        background: url('../img/contact-us-bg.jpeg') center/cover no-repeat
        color: $color-lite
        text-align: center
    &__title
        font-size: 44px
        font-weight: 500
        letter-spacing: 0.04em
        margin-bottom: 24px
    &__text
        font-size: 20px
        line-height: 1.5
        letter-spacing: 0.04em
        max-width: 780px
        margin-inline: auto
    &__content
        margin-bottom: 96px
    &__inner-content
        @include flex(center, center)
        column-gap: clamp(52px, 100%, 102px)
    &__footer
        max-width: 940px
        margin-inline: auto

.contacts
    @include flex-column(40px)
    max-width: 302px
    &__img
        margin-bottom: 16px
    &__wrapper
        @include flex-column(24px)
    &__list
        @include flex-column(16px)
    &__link
        @include flex(flex-start, center)
        column-gap: 16px
        text-decoration: underline
        & > svg
            transition: transform 0.3s
        @include hover
            & > svg
                transform: scale(1.2)
            

.form-message
    padding: 56px
    width: min(100%, 540px)
    border-radius: $border-radius
    box-shadow: 5px 10px 50px 0px rgba(16, 112, 177, 0.2)
    background-color: $color-lite
    &__wrapper
        @include flex-column(8px)
        &:not(:last-of-type)
            margin-bottom: 32px
    &__label
        font-size: 16px
        letter-spacing: 0.04em
        opacity: 0.8
    &__input
        width: 100%
        font-size: 16px
        font-weight: 300
        letter-spacing: 0.04em
        opacity: 0.2
        padding: 21px 36px
        border: 1px solid $color-dark
        border-radius: $border-radius
        opacity: 0.4
        &_textarea
            resize: none
            height: 144px
    &__heading
        margin-bottom: 48px
    &__button
        margin-top: 72px
        width: 100%
        padding-block: 23px
        text-transform: uppercase
