body
    font-family: $font-family-base
    font-weight: 400
    color: $color-extra-medium
    background-color: $color-lite

.visually-hidden
    @include visually-hidden

.container
    max-width: calc( $site-width + $padding-inline-tablet * 2 )
    padding-inline: $padding-inline-tablet
    margin-inline: auto

.title
    font-size: 64px
    font-weight: 300
    line-height: 1.15
    letter-spacing: 0.04em

.subtitle
    color: $color-extra-dark
    font-size: 36px
    font-weight: 300
    line-height: 1.27
    letter-spacing: 0.05em
    text-align: center
    &_lite
        color: $color-lite
        font-weight: 400
        text-align: left

.heading
    font-size: 20px
    line-height: 1.5
    letter-spacing: 0.05em
    &_uppercase
        text-transform: uppercase
        letter-spacing: 0.04em
        font-weight: 500

.text
    font-size: 16px
    line-height: 1.6
    letter-spacing: 0.05em
    opacity: 0.6
    &_dark
        color: $color-extra-dark
        text-align: center
        opacity: 1
    &_extra-opacity
        opacity: 0.4
    &_lite-weight
        font-weight: 300
        letter-spacing: 0.04em

.button
    color: $color-lite
    font-size: 16px
    letter-spacing: 0.04em
    padding: 15px 50px
    border-radius: $border-radius
    background-color: $color-medium
    border: 1px solid $color-medium
    box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2)
    transition: background 0.3s
    @include hover
        background-color: $color-dark
    &_square
        padding: 15px 80px
        box-shadow: none
        border-radius: 0

