@media (min-width: 1025px) and (max-width: 1140px)
    .card
        padding: 44px 24px

@media (max-width: 1024px)
    .billboard
        &__inner
            background-position-y: 90%

    .help-client
        margin-bottom: 128px
        &__inner
            grid-template-columns: repeat(1, minmax(300px, 360px))
            justify-content: center
            row-gap: 32px

    .card
        padding: 40px 30px
        min-height: 450px

    .our-project
        &__text
            max-width: 520px

    .footer
        &__info
            padding-block: 47px 64px
            justify-content: center
        &__body
            max-width: 336px
        &__inner
            max-width: 515px
            margin-inline: auto

    .button
        &_square
            padding: 8px 40px

    .address
        &__list
            grid-template-columns: repeat(1, 1fr)
            row-gap: 22px
            justify-content: center

    .contact-us
        margin-bottom: 64px
        &__text
            max-width: 520px
        &__content
            margin-bottom: 64px
        &__inner-content
            flex-direction: column
            row-gap: 64px

    .contacts
        row-gap: 64px

@media (max-width: 768px)
    .container
        padding-inline: $padding-inline-mobile

    .header
        margin-block: 16px 28px

    .title
        @include fluid-text(32, 64)

    .billboard
        min-height: 284px
        text-align: center
        padding-bottom: 42px
        margin-bottom: 48pxpx
        &__inner
            background: none
        &__body
            width: 100%
            align-items: center
        &__button
            font-size: 12px
            letter-spacing: 0
            padding: 8px 10px
        &__title
            margin-bottom: 12px
        &__text
            margin-bottom: 32px

    .subtitle
        @include fluid-text(24, 36)

    .help-client
        margin-bottom: 64px
        &__subtitle
            margin-bottom: 32px

    .our-project
        margin-bottom: 64px
        &__subtitle
            margin-bottom: 32px
        &__text
            margin-bottom: 82px
            margin-inline: auto
        &__inner
            display: grid
            grid-template-columns: repeat(1, 1fr)
            gap: 16px
        &__img
            width: 100%
        &__caption
            top: 16px
            left: 16px
            font-size: 16px
            letter-spacing: 0

    .footer
        &__info
            padding-block: 18px 40px
            flex-direction: column
            row-gap: 40px
            align-items: center
            text-align: center
        &__body
            width: 100%
        &__contacts
            padding-bottom: 32px
            &::before
                margin-bottom: 32px

    .subtitle
        &_lite
            text-align: center

    .address
        &__list
            row-gap: 18px
            margin-bottom: 32px

    .text
        &_extra-opacity
            text-align: center

    .contact-us
        margin-bottom: 32px
        &__header
            padding-block: 48px
        &__title
            @include fluid-text(24, 44)
        &__text
            @include fluid-text(16, 20)
            letter-spacing: 0
        &__content
            margin-bottom: 32px
        &__inner-content
            row-gap: 32px

    .contacts
        &__address
            row-gap: 32px

    .form-message
        padding: 36px
        &__heading
            margin-bottom: 32px
        &__wrapper
            &:not(:last-of-type)
                margin-bottom: 20px
        &__button
            margin-top: 46px
