@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/**
 * Нормализация блочной модели
 * */
*, ::before, ::after {
  box-sizing: border-box;
}

/**
 * Убираем внутренние отступы слева тегам списков,
 * у которых есть атрибут class
 * */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
 * Убираем внешние отступы body и двум другим тегам,
 * у которых есть атрибут class
 * */
body, :where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
 * Убираем внешние отступы вертикали нужным тегам,
 * у которых есть атрибут class
 * */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
 * Убираем стандартный маркер маркированному списку,
 * у которого есть атрибут class
 * */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
 * Обнуляем вертикальные внешние отступы параграфа
 * */
p {
  margin-block: 0;
}

/**
 * Упрощаем работу с изображениями
 * */
img {
  display: block;
  max-width: 100%;
}

/**
 * Наследуем свойства шрифт для полей ввода
 * */
input, textarea, select, button {
  font: inherit;
}

/**
 * Пригодится в большинстве ситуаций
 * (когда, например, нужно будет "прижать" футер к низу сайта)
 * */
html {
  height: 100%;
}

/**
 * Плавный скролл
 * */
html,
:has(:target) {
  scroll-behavior: smooth;
}

/**
 * Пригодится в большинстве ситуаций
 * (когда, например, нужно будет "прижать" футер к низу сайта)
 * */
/**
 * Унифицированный интерлиньяж
 * */
body {
  min-height: 100%;
  line-height: 1.5;
}

/**
 * Приводим к единому цвету svg-элементы
 * */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 * Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 * */
svg * {
  transition-property: fill, stroke;
}

/**
 * Удаляем все анимации и переходы для людей,
 * которые предпочитают их не использовать
 * */
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * Упрощаем работу с ссылками
 * */
a {
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #1F3F68;
  background-color: #fff;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.container {
  max-width: 1204px;
  padding-inline: 32px;
  margin-inline: auto;
}

.title {
  font-size: 64px;
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: 0.04em;
}

.subtitle {
  color: #000;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.27;
  letter-spacing: 0.05em;
  text-align: center;
}
.subtitle_lite {
  color: #fff;
  font-weight: 400;
  text-align: left;
}

.heading {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.heading_uppercase {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  opacity: 0.6;
}
.text_dark {
  color: #000;
  text-align: center;
  opacity: 1;
}
.text_extra-opacity {
  opacity: 0.4;
}
.text_lite-weight {
  font-weight: 300;
  letter-spacing: 0.04em;
}

.button {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding: 15px 50px;
  border-radius: 10px;
  background-color: #5A98D0;
  border: 1px solid #5A98D0;
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
  transition: background 0.3s;
}
@media (hover: hover) {
  .button:hover {
    background-color: #316099;
  }
}
@media (hover: none) {
  .button:active {
    background-color: #316099;
  }
}
.button_square {
  padding: 15px 80px;
  box-shadow: none;
  border-radius: 0;
}

.header {
  margin-block: 34px 48px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  transition: opacity 0.3s;
}
@media (hover: hover) {
  .nav__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .nav__link:active {
    opacity: 0.7;
  }
}

.billboard {
  min-height: 640px;
  margin-bottom: 64px;
  display: flex;
  background: linear-gradient(0deg, rgb(235, 243, 251) 8.836%, rgba(152, 195, 232, 0) 31.12%);
}
.billboard__inner {
  flex-grow: 1;
  padding-top: 107px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: url(../img/bg-banner.svg) 95% 60%/45% no-repeat;
}
.billboard__body {
  width: 506px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.billboard__title {
  margin-bottom: 32px;
}
.billboard__text {
  margin-bottom: 72px;
}

.help-client {
  margin-bottom: 64px;
}
.help-client__subtitle {
  margin-bottom: 64px;
}
.help-client__inner {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 360px));
  justify-content: space-between;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 44px 32px;
  border-radius: 10px;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  background-color: #fff;
  min-height: 480px;
}
.card__heading {
  margin-bottom: 15px;
}
.card__text {
  margin-bottom: 24px;
}
.card__button {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #5A98D0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (hover: hover) {
  .card__button:hover {
    color: #316099;
  }
}
@media (hover: none) {
  .card__button:active {
    color: #316099;
  }
}

.our-project {
  margin-bottom: 112px;
}
.our-project__subtitle {
  margin-bottom: 32px;
}
.our-project__text {
  max-width: 750px;
  margin-bottom: 64px;
  margin-inline: auto;
}
.our-project__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.our-project__wrapper {
  position: relative;
}
.our-project__wrapper_big {
  grid-column: 1/-1;
}
.our-project__img {
  height: auto;
}
.our-project__caption {
  position: absolute;
  top: 32px;
  left: 32px;
  color: #fff;
  font-size: 28px;
  letter-spacing: 0.05em;
}
.our-project__caption_big {
  top: 64px;
  left: auto;
  right: 64px;
  font-size: 32px;
}

.footer {
  background-color: #316099;
  color: #fff;
}
.footer__info {
  padding-block: 91px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 52px;
       column-gap: 52px;
}
.footer__body {
  max-width: 495px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.footer__contacts {
  padding-bottom: 64px;
}
.footer__contacts::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 64px;
}

.address__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  list-style-type: none;
  counter-reset: li-count;
  margin-bottom: 64px;
}
.address__list-item {
  counter-increment: li-count;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.address__list-item::before {
  content: counter(li-count) ".";
}
.address__link {
  text-decoration: underline;
}
@media (hover: hover) {
  .address__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .address__link:active {
    opacity: 0.7;
  }
}

.contact-us {
  margin-bottom: 112px;
}
.contact-us__header {
  padding-block: 50px;
  margin-bottom: 58px;
  background: url("../img/contact-us-bg.jpeg") center/cover no-repeat;
  color: #fff;
  text-align: center;
}
.contact-us__title {
  font-size: 44px;
  font-weight: 500;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}
.contact-us__text {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  max-width: 780px;
  margin-inline: auto;
}
.contact-us__content {
  margin-bottom: 96px;
}
.contact-us__inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: clamp(52px, 100%, 102px);
       column-gap: clamp(52px, 100%, 102px);
}
.contact-us__footer {
  max-width: 940px;
  margin-inline: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 302px;
}
.contacts__img {
  margin-bottom: 16px;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.contacts__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  text-decoration: underline;
}
.contacts__link > svg {
  transition: transform 0.3s;
}
@media (hover: hover) {
  .contacts__link:hover > svg {
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .contacts__link:active > svg {
    transform: scale(1.2);
  }
}

.form-message {
  padding: 56px;
  width: min(100%, 540px);
  border-radius: 10px;
  box-shadow: 5px 10px 50px 0px rgba(16, 112, 177, 0.2);
  background-color: #fff;
}
.form-message__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.form-message__wrapper:not(:last-of-type) {
  margin-bottom: 32px;
}
.form-message__label {
  font-size: 16px;
  letter-spacing: 0.04em;
  opacity: 0.8;
}
.form-message__input {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.04em;
  opacity: 0.2;
  padding: 21px 36px;
  border: 1px solid #316099;
  border-radius: 10px;
  opacity: 0.4;
}
.form-message__input_textarea {
  resize: none;
  height: 144px;
}
.form-message__heading {
  margin-bottom: 48px;
}
.form-message__button {
  margin-top: 72px;
  width: 100%;
  padding-block: 23px;
  text-transform: uppercase;
}

@media (min-width: 1025px) and (max-width: 1140px) {
  .card {
    padding: 44px 24px;
  }
}
@media (max-width: 1024px) {
  .billboard__inner {
    background-position-y: 90%;
  }
  .help-client {
    margin-bottom: 128px;
  }
  .help-client__inner {
    grid-template-columns: repeat(1, minmax(300px, 360px));
    justify-content: center;
    row-gap: 32px;
  }
  .card {
    padding: 40px 30px;
    min-height: 450px;
  }
  .our-project__text {
    max-width: 520px;
  }
  .footer__info {
    padding-block: 47px 64px;
    justify-content: center;
  }
  .footer__body {
    max-width: 336px;
  }
  .footer__inner {
    max-width: 515px;
    margin-inline: auto;
  }
  .button_square {
    padding: 8px 40px;
  }
  .address__list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 22px;
    justify-content: center;
  }
  .contact-us {
    margin-bottom: 64px;
  }
  .contact-us__text {
    max-width: 520px;
  }
  .contact-us__content {
    margin-bottom: 64px;
  }
  .contact-us__inner-content {
    flex-direction: column;
    row-gap: 64px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-inline: 16px;
  }
  .header {
    margin-block: 16px 28px;
  }
  .title {
    font-size: clamp(32px, 4.6852122987vw, 64px);
  }
  .billboard {
    min-height: 284px;
    text-align: center;
    padding-bottom: 42px;
    margin-bottom: 48pxpx;
  }
  .billboard__inner {
    background: none;
  }
  .billboard__body {
    width: 100%;
    align-items: center;
  }
  .billboard__button {
    font-size: 12px;
    letter-spacing: 0;
    padding: 8px 10px;
  }
  .billboard__title {
    margin-bottom: 12px;
  }
  .billboard__text {
    margin-bottom: 32px;
  }
  .subtitle {
    font-size: clamp(24px, 2.635431918vw, 36px);
  }
  .help-client {
    margin-bottom: 64px;
  }
  .help-client__subtitle {
    margin-bottom: 32px;
  }
  .our-project {
    margin-bottom: 64px;
  }
  .our-project__subtitle {
    margin-bottom: 32px;
  }
  .our-project__text {
    margin-bottom: 82px;
    margin-inline: auto;
  }
  .our-project__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .our-project__img {
    width: 100%;
  }
  .our-project__caption {
    top: 16px;
    left: 16px;
    font-size: 16px;
    letter-spacing: 0;
  }
  .footer__info {
    padding-block: 18px 40px;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    text-align: center;
  }
  .footer__body {
    width: 100%;
  }
  .footer__contacts {
    padding-bottom: 32px;
  }
  .footer__contacts::before {
    margin-bottom: 32px;
  }
  .subtitle_lite {
    text-align: center;
  }
  .address__list {
    row-gap: 18px;
    margin-bottom: 32px;
  }
  .text_extra-opacity {
    text-align: center;
  }
  .contact-us {
    margin-bottom: 32px;
  }
  .contact-us__header {
    padding-block: 48px;
  }
  .contact-us__title {
    font-size: clamp(24px, 3.2210834553vw, 44px);
  }
  .contact-us__text {
    font-size: clamp(16px, 1.4641288433vw, 20px);
    letter-spacing: 0;
  }
  .contact-us__content {
    margin-bottom: 32px;
  }
  .contact-us__inner-content {
    row-gap: 32px;
  }
  .contacts {
    row-gap: 32px;
  }
  .form-message {
    padding: 36px;
  }
  .form-message__heading {
    margin-bottom: 32px;
  }
  .form-message__wrapper:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .form-message__button {
    margin-top: 46px;
  }
}/*# sourceMappingURL=style.css.map */